*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(24,222,314,0.222);
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    }
    
    
    
.grid-container{
display: grid;
gap: 5px;
grid-template-columns: repeat(2, 2fr);
grid-template-rows: minmax(100px, auto);
}

.item1{
    background-color: aqua;
    grid-column:1/60;
    grid-row:1;
}

.item2{
   background-color: rgb(165, 127, 255);
   grid-column: 60/100;
   grid-row: 1;  
}

.item3{
    background-color: bisque;
    grid-column: 1/40;
    grid-row: 2/28; ;
}

.item4{
   background-color: beige;
   grid-column: 40/100;
   grid-row:2/14;

}

.item5{
   background-color: beige;
   grid-column: 40/100;
   grid-row: 14/28 ;
}

@media (max-width:600px) {
    .grid-container{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: minmax(80px, auto);
        margin: 10px;
        }
        
        .item1{
            background-color: aqua;
            grid-column:1/50;
            grid-row:1;
        }
        
        .item2{
           background-color: rgb(165, 127, 255);
           grid-column: 50/80;
           grid-row: 1;  
        }
        
        .item3{
            background-color: bisque;
            grid-column: 1/30;
            grid-row: 2/28; ;
        }
        
        .item4{
           background-color: beige;
           grid-column: 30/80;
           grid-row:2/14;
        
        }
        
        .item5{
           background-color: beige;
           grid-column: 30/80;
           grid-row: 14/28 ;
        }
}

@media (max-width: 375px) {
    .grid-container{
        display: grid;
        gap: 3px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: minmax(60px, auto);
        }
        
        .item1{
            background-color: aqua;
            grid-column:1/40;
            grid-row:1;
        }
        
        .item2{
           background-color: rgb(165, 127, 255);
           grid-column: 40/60;
           grid-row: 1;  
        }
        
        .item3{
            background-color: bisque;
            grid-column: 1/20;
            grid-row: 2/28; ;
        }
        
        .item4{
           background-color: beige;
           grid-column: 20/60;
           grid-row:2/14;
        
        }
        
        .item5{
           background-color: beige;
           grid-column: 20/60;
           grid-row: 14/28 ;
        }


    
}